<%- model_class = Evaluation -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:id) %></th>
      <th>Q_Id</th>
      <th>S_Id</th>
      <th>Question</th>
      <th>Response</th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
      <th><%= model_class.human_attribute_name(:answer) %></th>
      <th><%= model_class.human_attribute_name(:completion) %></th>
    </tr>
  </thead>
  <tbody>
    <% @evaluations.each do |evaluation| %>
      <tr>
        <td><%= link_to evaluation.id, evaluation_path(evaluation) %></td>
        <td><%= evaluation.question_id %></td>
        <td><%= evaluation.survey_id %></td>
        <td><%= evaluation.question.text %></td>
        <td>
          <span>1</span>
          <input type="radio" name="answers" value= 1>
          <span style="padding-left:1em;">2</span>
          <input type="radio" name="answers" value= 2>
          <span style="padding-left:1em;">3</span>
          <input type="radio" name="answers" value= 3>
          <span style="padding-left:1em;">4</span>
          <input type="radio" name="answers" value= 4>
          <span style="padding-left:1em;">5</span>
          <input type="radio" name="answers" value= 5>
        </td>
        <td>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_evaluation_path(evaluation), :class => 'btn btn-default btn-xs' %>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      evaluation_path(evaluation),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-xs btn-danger' %>
        </td>
        <td><%= evaluation.answer %></td>
        <td><%= evaluation.completion %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_evaluation_path,
            :class => 'btn btn-primary' %>
