<%= form_for @survey, :html => { :class => "form-horizontal survey" } do |f| %>

  <div class="form-group">
    <%= f.label :message, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :message, :class => 'form-control' %>
    </div>
    <%=f.error_span(:message) %>
  </div>
  <div class="form-group">
    <%= f.label :user_id, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :user_id, :class => 'form-control' %>
    </div>
    <%=f.error_span(:user_id) %>
  </div>
  <div class="form-group">
    <%= f.label :assessment_id, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :assessment_id, :class => 'form-control' %>
    </div>
    <%=f.error_span(:assessment_id) %>
  </div>

<% end %>
