<%= form_for @survey, :html => { :class => "form-horizontal survey" } do |f| %>

  <% if @survey.errors.any? %>
    <div id="error_expl" class="panel panel-danger">
      <div class="panel-heading">
        <h3 class="panel-title"><%= pluralize(@survey.errors.count, "error") %> prohibited this survey from being saved:</h3>
      </div>
      <div class="panel-body">
        <ul>
        <% @survey.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    </div>
  <% end %>

  <dl class="dl-horizontal">
    <%= f.fields_for :evaluations do |builder| %>
      <dt><h2>Question </h2></dt>
      <dd><p><%= builder.object.question.text %></p></dd>
      <dt><h5>Response </h5></dt>
      <dd>
          <%= builder.label :answer, "1" %>
          <%= builder.radio_button :answer, 1.0 %>
          <span class="radio_span"></span>
          <%= builder.label :answer, "2"%>
          <%= builder.radio_button :answer, 2.0 %>
          <span class="radio_span"></span>
          <%= builder.label :answer, "3" %>
          <%= builder.radio_button :answer, 3.0 %>
          <span class="radio_span"></span>
          <%= builder.label :answer, "4" %>
          <%= builder.radio_button :answer, 4.0 %>
          <span class="radio_span"></span>
          <%= builder.label :answer, "5" %>
          <%= builder.radio_button :answer, 5.0 %>
      </dd>
      <span style="padding: 1em; margin: 1em;"></span>
    <% end %>
  </dl>

  <div class="form-group">
    <%= f.label :message, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :message, :class => 'form-control' %>
    </div>
    <%=f.error_span(:message) %>
  </div>
  <div class="form-group">
    <%= f.label :user_id, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :user_id, :class => 'form-control' %>
    </div>
    <%=f.error_span(:user_id) %>
  </div>
  <div class="form-group">
    <%= f.label :assessment_id, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :assessment_id, :class => 'form-control' %>
    </div>
    <%=f.error_span(:assessment_id) %>
  </div>

  <div class="form-group">
    <div class="col-lg-offset-2 col-lg-10">
      <%= f.submit nil, :class => 'btn btn-primary' %>
      <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                surveys_path, :class => 'btn btn-default' %>
    </div>
  </div>

<% end %>
